@page
@model FollowMe2.Models.userDefined

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.username, new { @id = "userdesigned" })
    @Html.HiddenFor(m => m.head, new { @id = "headDisplay" })
    @Html.HiddenFor(m => m.chest, new { @id = "chestDisplay" })
    @Html.HiddenFor(m => m.legs, new { @id = "legsDisplay" })
    @Html.HiddenFor(m => m.personType, new { @id = "personTypeSelected" })
    @*@Html.TextBoxFor(m => m.username, @Value = @Model.username)*@

    <p class="linkNoBorder">@ViewBag.connectError</p>

    
    if (ViewBag.registration == true)
    {
        <section class="row">
            <h3 class="col-md-offset-5 col-md-4">Select person type</h3>
        </section>
        <section class="row">
            <div class="col-md-4">
                <input type="radio" name="personTypeSelect" value="1" id="dangerMode" />
                Danger Mode: More powerful, but your health is draining every second<br />
            </div>
            <div class="col-md-4">
                <input type="radio" name="personTypeSelect" value="2" id="standardMode" />
                Standard Mode: Vanilla, you can go straight up and down<br />
            </div>
            <div class="col-md-4">
                <input type="radio" name="personTypeSelect" value="3" id="stealthMode" />
                Stealth Mode: invisible, but unarmed<br />
            </div>
        </section>
    }

    <aside style="float:left; width:20%;clear:both" id="playerDesign">
        <label for="for-head">head</label>
        <input type="hidden" name="for-head" id="forhead" min="0" max="1" step="1" value="0" /><br />
        <label for="for-legs">legs</label>
        <input type="hidden" name="for-chest" id="forchest" min="0" max="1" step="1" value="0" /><br />
        <label for="for-chest">chest</label>
        <input type="hidden" name="for-legs" id="forlegs" min="0" max="1" step="1" value="0" /><br />
    </aside>
    <div style="position:absolute; left: 256px;">
        <aside id="headsubmit" class="head image"></aside>
        <aside id="chestsubmit" class="torso image"></aside>
        <aside id="legssubmit" class="legs image"></aside><br />
    </div>

    <section id="weaponFull">
        <section class="row">
            <h3 class="col-md-offset-5 col-md-4">Weapon Type</h3>
        </section>

        <section class="row">

            @for (int i = 1; i < 4; i++)
            {
                <div class="col-md-4">
                    <p id="weapon_@i" class="weaponImage weapon"></p>
                </div>
            }
        </section>
        <section class="row">

            @for (int i = 1; i < 4; i++)
                {
                <div class="col-md-4">
                    <p id="weaponDetail_@i" class="weaponImage weaponDetail weapon"></p>
                </div>
            }


            @Html.HiddenFor(m => m.weaponID)
        </section>
    </section>

    <div class="col-md-offset-4 col-md-4">
        <input type="submit" />
    </div>
}